// fonts
$ff-dm-serif-dis: 'DM Serif Display', serif;
$ff-karla:'Karla', sans-serif;


// COLORS

// primary colors
$DarkViolet:hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);

//neutral colors
$Very-Dark-Violet:hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray:hsl(0, 0%, 98%);

$bod:1px solid black;